#weather
    padding: 50px 0
    .box
        max-width: 200px
        height: 330px
        background-color: #a4caff
        border-radius: 15px
        padding: 20px
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        margin: auto
        .data
            h1
                font-size: 24px
                color: #ffff
                margin-bottom: 16px
            h2
                font-size: 20px
                color: #ffff
                margin: 8px 0
        input
            padding: 10px 16px
            font-size: 16px
            border-radius: 24px
            margin-top: 16px
            width: 100%
        #btn
            margin-top: 16px
            display: inline-block 
            background-color: #79afff
            color: #ffff
            padding: 10px 15px
            border-radius: 20px
            font-size: 16px
            cursor: pointer
